h1 {text-align: center;
}

#icecream {background: #ffb6c1;
width: 33%;
margin-bottom: 50px;
}

#p1 {float: right;
}

#p2 {clear: both;
}

#cake {background: #ffb6c1;
width: 33%;
margin-bottom: 50px;
}

#p3 {float: right;
}

#p4 {clear: both;
}

#waffles {background: #ffb6c1;
width: 33%;
margin-bottom: 50px;
}

#p5 {float: right;
}

#p6 {clear: both;
}